	"prettier.semi": false,
	"prettier.trailingComma": "none",
	"prettier.jsxSingleQuote": true,
	"prettier.singleQuote": true,
	"prettier.printWidth": 140,
	"prettier.tabWidth": 2,
	"prettier.arrowParens": "avoid",
	"prettier.useTabs": true,
